[run]
branch = True
source =
    app
omit =
    */__init__.py
    */tests/*
    */alembic/*
    */migrations/*
    */.venv/*

[report]
show_missing = True
skip_covered = True
precision = 1
fail_under = 60
exclude_lines =
    pragma: no cover
    if __name__ == "__main__":
    if TYPE_CHECKING

[html]
directory = htmlcov
title = Eatlyze Coverage Report